In [36]:
import sqlite3

# Connect to the SQLite database (it will be created if it doesn't exist)
conn = sqlite3.connect('billionaires.db')
cursor = conn.cursor()

# Function to check if a table exists in the database
def table_exists(cursor, table_name):
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name=?", [table_name])
    return cursor.fetchone() is not None


# List of tables to be created
tables = {
    "Billionaires": '''
        CREATE TABLE IF NOT EXISTS Billionaires (
            billionaire_id INTEGER PRIMARY KEY,
            firstname                 TEXT    NOT NULL,
            lastname                  TEXT    NOT NULL,
            fullname                  TEXT    NOT NULL,
            age                       INTEGER,
            gender                    TEXT    CHECK (gender IN ('M', 'F') ),
            birth_date                DATE,
            birth_day                 INTEGER,
            birth_month               INTEGER,
            birth_year                INTEGER,
            position                  TEXT,
            wealth                    INTEGER,
            citizenship_country_id    INTEGER,
            city_id                   INTEGER NOT NULL,
            FOREIGN KEY (             
                city_id
            )
            REFERENCES Cities (city_id),
            FOREIGN KEY (
                citizenship_country_id
            )
            REFERENCES Citizenships (citizenship_country_id)
        );
    ''',
    "Billionaire_Companies": '''
        CREATE TABLE IF NOT EXISTS Billionaire_Companies (
            billionaire_id INTEGER NOT NULL,
            company_id     INTEGER NOT NULL,
            PRIMARY KEY (
                billionaire_id,
                company_id
            ),
            FOREIGN KEY (
                billionaire_id
            )
            REFERENCES Billionaires (billionaire_id),
            FOREIGN KEY (
                company_id
            )
            REFERENCES Companies (company_id)
        );
    ''',
    "Cities": '''
        CREATE TABLE IF NOT EXISTS Cities (
            city_id           INTEGER PRIMARY KEY,
            city_of_residence TEXT    NOT NULL,
            state_id          INTEGER,
            FOREIGN KEY (
                state_id
            )
            REFERENCES States (state_id)
        );
    ''',
    "Companies": '''
        CREATE TABLE IF NOT EXISTS Companies (
            company_id INTEGER PRIMARY KEY,
            resource   TEXT,
            industry   TEXT
        );
    ''',
    "Continents": '''
        CREATE TABLE IF NOT EXISTS Continents (
            continent_id INTEGER PRIMARY KEY,
            continent    TEXT
        );
    ''',
    "Countries": '''
        CREATE TABLE IF NOT EXISTS Countries (
            country_id           INTEGER PRIMARY KEY,
            country_of_residence TEXT    NOT NULL,
            continent_id         INTEGER,
            country_latitude     REAL,
            country_longitude    REAL,
            country_pop          INTEGER,
            life_exp             REAL,
            cpi_country          REAL,
            cpi_change           REAL,
            gdp_country          REAL,
            g_primary            REAL,
            g_tertiary           REAL,
            tax_revenue          REAL,
            tax_rate             REAL,
            FOREIGN KEY (
                continent_id
            )
            REFERENCES Continents (continent_id)
        );
    ''',
    "Regions": '''
        CREATE TABLE IF NOT EXISTS Regions (
            region_id  INTEGER PRIMARY KEY,
            res_region TEXT
        );
    ''',
    "States": '''
        CREATE TABLE IF NOT EXISTS States (
            state_id   INTEGER PRIMARY KEY,
            res_state  TEXT,
            region_id  INTEGER REFERENCES Regions (region_id),
            country_id INTEGER REFERENCES Countries (country_id)
        );
    ''',
    "Citizenships": '''
        CREATE TABLE IF NOT EXISTS Citizenships (
            citizenship_country_id   INTEGER PRIMARY KEY,
            citizenship              TEXT   
        );
    '''
}

# Check and create tables
for table_name, create_statement in tables.items():
    if not table_exists(cursor, table_name):
        print(f"Creating table {table_name}...")
        cursor.execute(create_statement)
    else:
        print(f"Table {table_name} already exists.")

cursor.execute('''UPDATE Billionaires
SET birth_date = DATE(birth_date)''')

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Table creation check completed.")

Creating table Billionaires...
Table Billionaire_Companies already exists.
Table Cities already exists.
Table Companies already exists.
Table Continents already exists.
Table Countries already exists.
Table Regions already exists.
Table States already exists.
Table Citizenships already exists.
Table creation check completed.

In [23]:
import pandas as pd
import warnings

# Suppress all warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', None)

# Load the Excel file to examine its structure and content
file_path = "C:\\Users\\arcan\\OneDrive\\Ambiente de Trabalho\\My apps\\python\\database project\\Billionaires.xlsx"
excel_data = pd.ExcelFile(file_path)
# Load the content of the 'Billionaires' sheet to understand its structure
billionaires_data = excel_data.parse('Billionaires')
versatyle_dictionary = {}
versatyle_counter = 1

In [24]:
# Prepare the Continents table
continents = billionaires_data[['continent']].drop_duplicates()

continents['continent_id'] = range(1, len(continents) + 1)

continents_final = continents[['continent_id', 'continent']]

In [25]:
# Prepare the countries table
countries = billionaires_data[['country_of_residence', 'continent', 'country_lat', 
                               'country_long', 'country_pop', 'life_expectancy', 'cpi_country', 'cpi_change_country', 'g_tertiary_ed_enroll', 'g_primary_ed_enroll', 
                               'tax_revenue', 'tax_rate', 'gdp_country']].drop_duplicates()

countries = countries.merge(continents_final[['continent_id', 'continent']], on='continent', how='left')
countries['country_id'] = range(1, len(countries) + 1)

countries_final = countries[['country_id', 'country_of_residence', 'continent_id', 'country_lat', 
                               'country_long', 'country_pop', 'life_expectancy', 'cpi_country', 'cpi_change_country', 'gdp_country', 'g_tertiary_ed_enroll', 'g_primary_ed_enroll', 
                               'tax_revenue', 'tax_rate']]

countries_final.rename(columns={"country_lat": "country_latitude"}, inplace=True)
countries_final.rename(columns={"country_long": "country_longitude"}, inplace=True)
countries_final.rename(columns={"life_expectancy": "life_exp"}, inplace=True)
countries_final.rename(columns={"cpi_change_country": "cpi_change"}, inplace=True)
countries_final.rename(columns={"g_tertiary_ed_enroll": "g_tertiary"}, inplace=True)
countries_final.rename(columns={"g_primary_ed_enroll": "g_primary"}, inplace=True)

In [26]:
# Prepare the companies table
companies = billionaires_data[['source', 'industry']].drop_duplicates()

companies['company_id'] = range(1, len(companies) + 1)

companies_final = companies[['company_id', 'source', 'industry']]
companies_final.rename(columns={'source': 'resource'}, inplace=True)

In [27]:
#Preprare the regions table
regions = billionaires_data[['residence_region']].drop_duplicates()

regions['region_id'] = range(1, len(regions) + 1)

regions_final = regions[['region_id', 'residence_region']]

regions_final.rename(columns={"residence_region": "res_region"}, inplace=True)

In [35]:
# Prepare the states table
states = billionaires_data[['residence_state','residence_region','country_of_residence']].drop_duplicates(['residence_state', 'country_of_residence'])
states.rename(columns={"residence_region": "res_region"}, inplace=True)
states.rename(columns={"residence_state": "res_state"}, inplace=True)

states = states.merge(regions_final[['region_id', 'res_region']], on='res_region', how='left')
states = states.merge(countries_final[['country_id', 'country_of_residence']], on='country_of_residence', how='left')

states['state_id'] = range(1, len(states) + 1)

states_final = states[['state_id', 'res_state', 'region_id', 'country_id']]

In [34]:
# Prepare the cities table
cities = billionaires_data[['city_of_residence', 'residence_state', 'residence_region', 'country_of_residence']].drop_duplicates(['city_of_residence', 'residence_state', 'country_of_residence'])

cities.rename(columns={"residence_state": "res_state"}, inplace=True)
cities = cities.merge(states[['res_state', 'country_of_residence', 'state_id']], on=['country_of_residence', 'res_state'], how='left')
cities['city_id'] = range(1, len(cities) + 1)

cities_final = cities[['city_id', 'city_of_residence', 'state_id']]

In [30]:
# Prepare the citizenships table
citizenships = billionaires_data[['citizenship']].drop_duplicates(['citizenship'])

citizenships['citizenship_country_id'] = range(1, len(citizenships) + 1)

citizenships_final = citizenships[['citizenship_country_id', 'citizenship']]

In [31]:
# Prepare the billionaires table
billionaires = billionaires_data[['first_name','last_name', 'full_name', 'age', 'gender', 'birth_date', 'birth_day', 'birth_month', 'birth_year', 'position', 'wealth', 'city_of_residence', 'residence_state', 'citizenship', 'residence_region', 'country_of_residence']]
billionaires.rename(columns={"residence_region": "res_region"}, inplace=True)
billionaires.rename(columns={"residence_state": "res_state"}, inplace=True)
billionaires = billionaires.merge(cities[['city_of_residence', 'res_state', 'country_of_residence', 'city_id']], on=['city_of_residence', 'res_state', 'country_of_residence',], how='left')
billionaires = billionaires.merge(citizenships_final[['citizenship_country_id', 'citizenship']], on=['citizenship'], how='left')
billionaires['billionaire_id'] = range(1, len(billionaires) + 1)

billionaires_final = billionaires[['billionaire_id','first_name','last_name', 'full_name', 'age', 'gender', 'birth_date', 'birth_day', 'birth_month', 'birth_year', 'position', 'wealth', 'citizenship_country_id', 'city_id']]

billionaires_final.rename(columns={"first_name": "firstname"}, inplace=True)
billionaires_final.rename(columns={"last_name": "lastname"}, inplace=True)
billionaires_final.rename(columns={"full_name": "fullname"}, inplace=True)

In [32]:
# Prepare the Billionaire_Companies table
billionaire_companies = billionaires_data[['full_name','gender', 'age', 'source', 'industry']]
billionaire_companies.rename(columns={"full_name": "fullname"}, inplace=True)
billionaire_companies.rename(columns={"source": "resource"}, inplace=True)

billionaire_companies = billionaire_companies.merge(billionaires_final[['fullname', 'gender', 'age', 'billionaire_id']], on=['fullname', 'gender', 'age'], how='left')
billionaire_companies = billionaire_companies.merge(companies_final[['resource', 'industry', 'company_id']], on=['resource', 'industry'], how='left')

billionaire_companies_final = billionaire_companies[['billionaire_id', 'company_id']]

In [37]:
import sqlite3

# Paths to your database file and pandas DataFrames
db_path = "C:\\Users\\arcan\\OneDrive\\Ambiente de Trabalho\\My apps\\python\\database project\\Billionaires.db" 

# DataFrames to insert
dataframes = {
    "Countries": countries_final,
    "Cities": cities_final,
    "Billionaires": billionaires_final,
    "Companies": companies_final,
    "Billionaire_Companies": billionaire_companies_final,
    "States": states_final,
    "Regions": regions_final,
    "Continents": continents_final,
    "Citizenships": citizenships_final
}

# Connect to the SQLite database
conn = sqlite3.connect(db_path)

cursor = conn.cursor()
for key in dataframes.keys():
    delete_query = f"DELETE FROM {key};"
    cursor.execute(delete_query)
conn.commit()

# Insert data into the database
for table_name, dataframe in dataframes.items():
    dataframe.to_sql(table_name, conn, if_exists='append', index=False)
    print(f"Data inserted successfully into {table_name} table.")

cursor.execute('''UPDATE Billionaires
SET birth_date = DATE(birth_date)''')

conn.commit()  # Commit the changes
conn.close()   # Close the database connection

Data inserted successfully into Countries table.
Data inserted successfully into Cities table.
Data inserted successfully into Billionaires table.
Data inserted successfully into Companies table.
Data inserted successfully into Billionaire_Companies table.
Data inserted successfully into States table.
Data inserted successfully into Regions table.
Data inserted successfully into Continents table.
Data inserted successfully into Citizenships table.